<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>LG TV Remote</title>
  </head>
  <body>
    <div id="app">
      <h1 id="connect-msg">Connecting to TV...</h1>
      <div id="connect-err">
        <h1>Connection Error</h1>
        <p>
          Make sure your TV is on and connected to the same network as this
          device.
        </p>
        <button id="retry-btn">Retry</button>
      </div>
    </div>
    <script src="./connect.js"></script>
  </body>
</html>
