<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="remote-style.css" />
    <title>LG TV Remote</title>
  </head>
  <body>
    <div id="app">
      <!-- up, down, left and right buttons -->
      <!-- <div id="nav">
        <button id="up" class="nav-btn">▲</button>
        <button id="left" class="nav-btn">◀</button>
        <button id="right" class="nav-btn">▶</button>
        <button id="down" class="nav-btn">▼</button>
      </div> -->
      <!-- slider for volume adjustment -->
      <!-- <div id="volume">
        <div>
          <label for="volume-slider"
            >Volume: <span id="volume-val">23</span></label
          >
        </div>
        <input
          type="range"
          min="0"
          max="100"
          value="50"
          class="slider"
          id="volume-slider"
        />
        <div>
          <button id="volume-up" class="volume-btn">+</button>
          <button id="volume-down" class="volume-btn">-</button>
        </div>
      </div> -->
      <div>
        <h2>Apps</h2>
        <div id="launch-points-container"></div>
      </div>
      <div>
        <h2>Inputs</h2>
        <div id="input-list-container"></div>
      </div>
    </div>
    <script src="./remote.js"></script>
  </body>
</html>
